.header-container{
    display: flex;
    background-color: #ffffff;
    align-items: center;
    border-bottom: 1px solid #000;
    justify-content: space-between;
    padding: 10px 20px;
}
.header-container h1{
    font-size: 24px;

}
.menu-nav{
 display: flex;
 list-style-type: none;
 gap: 20px;


}
.menu-nav li{
    position: relative;
}
.header-icons{
    display: flex;
    gap: 10px;
}
.icon{
    color: #000000;
    text-decoration: none;


}

@media (max-width: 478px){
    .header-container{
        flex-wrap: wrap;


    }
    .header-container h1{
        width: 100%;

    }
    .menu-nav{
        flex-wrap: wrap;
        width: 100%;
    }
    .header-icons{
        flex-wrap: wrap;
        width: 100%;

    }
    .icon{
        width: 100%;
    }
}
