.header-container{
    display: flex;
    background-color: #ffffff;
    align-items: center;
    border-bottom: 1px solid #000;
    justify-content: space-between;
    padding: 10px 20px;
}
.header-container h1{
    font-size: 24px;

}
.menu-nav{
 display: flex;
 list-style-type: none;
 gap: 20px;


}
.menu-nav li{
    position: relative;
}
.header-icons{
    display: flex;
    gap: 10px;
}
.icon{
    color: #000000;
    text-decoration: none;


}
